<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">

    <!-- 회원 테이블 조회 -->

    <!-- 총 회원수 -->
    <select id = "getTotalUser" resultType = "java.lang.Integer">
        select count(*) from users
    </select>

    <!-- 유저리스트 -->
    <select id = "getTotalUserList" resultType="usersVO">
        SELECT *
        FROM (
        SELECT ROWNUM as row_num, u.*
        FROM (SELECT * FROM users WHERE userno IS NOT NULL
        ORDER BY userno) u
        )
        WHERE row_num BETWEEN #{start} AND #{end}

    </select>


    <!-- 검색기능 -->
    <select id = "getSelectedUser" resultType="usersVO">
    </select>

    <!-- 회원등록 -->
    <insert id = "insertUser" parameterType="usersVO">
        INSERT INTO users (userno, id, pwd, u_name, date_birth, gender, email, nickname, date_reg, residence, phone, point, u_status)
        VALUES (#{userno}, #{id}, #{pwd}, #{u_name}, #{date_birth}, #{gender}, #{email}, #{nickname}, #{date_reg}, #{residence}, #{phone}, #{point}, #{u_status})    </insert>

    <!-- 회원 등록시 ID 중복확인 -->
    <select id ="checkId" resultType="java.lang.Integer">
        SELECT count(id) From users where id = #{userId};
    </select>

    <!-- 회원삭제 -->
    <delete id = "deleteUser">
        delete from users where userno = #{userno}
    </delete>

</mapper>
