<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">

    <!-- 회원 테이블 조회 -->
    <select id = "getTotalUserList" resultType="usersVO">
        select * from users order by userno
    </select>

    <delete id = "deleteUser">
        delete from users where userno = #{userno}
    </delete>
</mapper>