<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cart">


	<!-- 유저별 장바구니 목록 조회 -->
	<select id="findCartByUserNo" resultType="detailCartVO">
		select c.userNo, g.goodsNo, g.goodsStock, g.goodsName, g.goodsCompany, g.goodsPrice, g.mainFname,g.shipPrice,
		c.cartCnt from goods g left join cart c on g.goodsNo=c.goodsNo where userNo=#{userNo}
	</select>

	<!-- 장바구니 추가 -->
	<insert id="insertCart" parameterType="int">
		insert into cart(cartNo, userNo, goodsNo,cartCnt, cartDate)
		values(seq_cartNo.nextVal,#{userNo},#{goodsNo},#{cartCnt},sysDate)
	</insert>
	
	<!-- 체크된 품목 삭제 -->
	<delete id="deleteCartByGoodsNo" parameterType="cartVO">
		delete cart where userNo=#{userNo} and goodsNo=#{goodsNo}
	</delete>
	
	<!-- 품절상품 삭제 -->
	<delete id="deleteCartByGoodsStock" parameterType="detailCartVO">
		delete from cart c where EXISTS(select 1 from goods g where g.goodsNo=c.goodsNo and c.userNo=#{userNo} and g.goodsStock=0)
	</delete>
	
	<!-- 상품 수량변경 -->
	<update id="updateCartCnt" parameterType="int">
		update cart set cartCnt=#{cartCnt} where goodsNo=#{goodsNo} and userNo=#{userNo}
	</update>
	

</mapper>
