<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="education">

	<!-- 전체 레코드 수 반환 (기본권한)-->
	 	<select id="getTotalRecordEducation" resultType="java.lang.Integer">
		    select count(*) from education
		    <if test="search != null">
			    <if test="category == 'eduName'">
					where eduName like '%'||#{search}||'%'
			    </if>
			    <if test="category == 'eduContent'">
					where eduContent like '%'||#{search}||'%'
			    </if>
			    <if test="category == 'eduApp'">
					where eduApp like '%'||#{search}||'%'
			    </if>
		    </if>
		</select>
	 	
	<!-- 교육 전체목록 반환 (기본권한)-->
	  <select id="findAllEducation" resultType="educationVO">
	    select eduno, eduName, eduContent, eduStatus, eduApp, eduAddr, educator, eduPhone, eduFile, eduDetailFile, edusysdate 
	    from (select rownum n, eduno, eduName, eduContent, eduStatus, eduApp, eduAddr, educator, eduPhone, eduFile, eduDetailFile, edusysdate 
	    from (select * from education 
	     <if test="search != null">
				    <if test="category == 'eduName'">
						where eduName like '%'||#{search}||'%'
				    </if>
				    <if test="category == 'eduContent'">
						where eduContent like '%'||#{search}||'%'
				    </if>
				    <if test="category == 'eduApp'">
						where eduApp like '%'||#{search}||'%'
				    </if>
			    </if>
	     order by eduNo desc)) a where a.n between #{start} and #{end}
	</select>

 	<!-- 교육 해당 번호목록 반환 -->
 	<select id="findByNoEducation" resultType="educationVO">
 		select * from education where eduno = #{eduno}
 	</select>
 	
</mapper>


