<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>봉사하기</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	
	<link rel="stylesheet" href="../css/main/style.css" th:href="@{/css/main/style.css}"/>
	<link rel="stylesheet" href="../css/volunteer/list.css" th:href="@{/css/volunteer/list.css}"/>
	<link rel="stylesheet" href="../css/main/style.css" th:href="@{/css/main/style.css}"/>
	
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<style>
</style>
</head>
<body>
	<div class="container">
		<!--header-->
		<div th:include="/main/header.html"></div>
		
		<!--타이틀_봉사하기-->
		<div class="title">
			<div class="mainTitle"><h2 class="mainTitle">봉사하기</h2></div>
			<div class="subTitle">환경지킴이가 되어보기!</div>	
		</div>
		
		<!--메인상단-->
		<div class="row upperPart">
		
		<!--검색옵션 -->
		<div class="search-options">
		  <div class="option">
		    <label for="volunteer-period">기간</label>
		    <input type="date" id="volunteer-period-start" name="volunteer-period-start">
		    <span>&nbsp;~&nbsp;</span>
		    <input type="date" id="volunteer-period-end" name="volunteer-period-end">
		  </div>
		  
		  <div class="option">
		    <!--<label for="volunteer-attributes">봉사명, 위치</label>-->
		    <div>
				<select id="volunteer-attributes" name="volunteer-attributes">
		  	 	   <option value="volunteer-name">제목</option>
		  	 	   <option value="volunteer-location">위치</option>
				</select>
			</div>
		    <div class="location-option" style="display:none;">
			    <select id="location" name="location">
			      <option value="location-1">서울</option>
			      <option value="location-2">경기</option>
			      <option value="location-2">인천</option>
				  </select>
		  </div>
		    <div class="option">
		    <input type="text" id="search-keyword" name="search-keyword" placeholder="검색어를 입력하세요.">
		  </div>
		  
		  <div class="option">
		    <button class="custom-btn" type="submit" id="search-button">검색</button>
		    <button class="custom-btn" type="reset" id="reset-button">초기화</button>
		  </div>
		  </div>
		  
		</div>
			<script>
				document.getElementById("volunteer-attributes").addEventListener("change", function() {
				  const locationOption = document.querySelector(".location-option");
				  const selectedValue = this.value;

					  if (selectedValue === "volunteer-location") {
					    locationOption.style.display = "flex";
					  } else {
					    locationOption.style.display = "none";
					  }
					});
			</script>
		
		<!--봉사 글 목록-->
	 	<table class="table table-hover">
			<thead class="table-light">
				<tr>
		 			<th>번호</th>
		 			<th colspan="2">제목</th>
		 			<th></th>
	 			</tr>
			</thead>	
	 		<tbody>
				<tr class="volunteerList" th:each="volunteer:${list}" th:onclick="'location.href=\''+@{/volunteer/detail/}+@{${volunteer.volunteerno}}+'\''"> 
<!--				<tr th:each="volunteer:${list}" class="volunteerList" th:onclick="|location.href='/list/detail/'+${volunteer.volunteerno}|">-->
			 <!--<tr th:each="volunteer:${list}" class="volunteerList" th:onclick="|location.href='./act/list'|">-->
					 <td style="padding: 0.5rem; vertical-align: middle;" th:text="${volunteer.volunteerno}"></td>
					 <td colspan="2" style="text-align: left;">
						<div th:text="${volunteer.v_title}"></div>
						 <div th:text="|[모집기관] ${volunteer.v_agency}  
						 [봉사기간] ${#dates.format(volunteer.v_start, 'yyyy-MM-dd')} ~ ${#dates.format(volunteer.v_end, 'yyyy-MM-dd')}|"></div>
					 </td>
					 <td style="padding: 0.5rem; vertical-align: middle;" 
					 	th:if="${#dates.format(volunteer.v_end, 'yyyy-MM-dd')} < ${#dates.format(volunteer.v_recruitDate, 'yyyy-MM-dd')}" th:text="모집중"></td>
					 <td style="padding: 0.5rem; vertical-align: middle;" 
					 	th:if="${#dates.format(volunteer.v_end, 'yyyy-MM-dd')} >= ${#dates.format(volunteer.v_recruitDate, 'yyyy-MM-dd')}" th:text="신청마감"></td>
				 </tr>
			 </tbody>
			 
			 
	 		
	 	</table>
		<!--페이지네이션-->
		<div class="grid text-center" style="--bs-columns: 4">
			<nav aria-label="Page navigation example">
			  <ul class="pagination justify-content-center">
				 <li class="page-item" >
			    	<a class="page-link" href="#" aria-label="start"><span aria-hidden="true">&laquo;&laquo;</span></a>
			    </li>
			    <li class="page-item" >
			    	<a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
			    </li>
			    <li th:each="idx:${#numbers.sequence(1, totalPage)}" class="page-item">
					<a th:href="@{'/volunteer/list/'+${idx}}" class="page-link" th:text="${idx}"></a>
				</li>
			    <li class="page-item">
			    	<a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
			    </li>
			    <li class="page-item">
			    	<a class="page-link" th:href="@{'/volunteer/list/'+${totalPage}}" aria-label="end"><span aria-hidden="true">&raquo;&raquo;</span></a>
			    </li>
			  </ul>
			</nav>
		</div><!--페이지네이션 끝-->
		
		<!--footer-->
		<div th:include="/main/footer.html"></div>
		
	</div>
</body>
</html>