@charset "UTF-8";
.custom-btn{
	border: none;
	border-radius: 0.4rem;
}

/*게시판 타이틀 구역*/
.title{
	border: 1px solid grey;
	margin-left: 2%;
	margin-bottom: 1.6rem;
	padding: 1.6rem;
}
.mainTitle{
	color: #58b483;
}

.upperPart{
	margin-bottom: 2rem;
}

/*게시글 작성 버튼*/
.btn_write{
	width: 60%;
	background-color : #58b483;
	color : white;
	border-radius: 30px;
	font-weight: bold;  
	font-size: 16px;
	text-align: center;
}
.btn_write:hover{
	background: #43a06f;
	color : white;
}

/*검색창*/
.searchArea{
	/*border: 1px solid;*/
	width: 100%;
}
#search{
	margin-left: 4%;
	display: inline-block;
	width: 80%;
}
#btn_search{
	display: inline-block;
	width: 15%;
}


/*최신순/인기순 선택*/
.nav{
	padding: 0 0 0 0;
}

.listOption{
	float: left;
}

.listOptionArea{
	display: flex;
	justify-content: end;
}


.actListAll{
	display: flex;
}
.actList{
	display:flex;	
}
.card {
      width: 23%;
      float: left;
      margin-left: 2%;
      margin-bottom: 20px;
      cursor: pointer;
}
.card:nth-child(4n) {
      margin-right: 0;
}

.card-img-top{
	width: 100%;
	height: 250px;
   overflow: hidden;
}

.like-button {
	border : solid 1px #43a06f;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
	display: inline-block;
	text-align: center;
}

/* 좋아요 버튼 눌렀을 때 스타일 */
.liked {
	background-color: #43a06f;
	color: white;
}
.hit{
	display: inline-block;
	float: right; 
	margin-left: 0.8rem;
	padding: 0 0.8rem 0 0.8rem;
	width: fit-content;
	border: 1px solid lightgray;
	border-radius: 2rem;
	text-align: center;
}
.card-title{
	margin: 0;
}
